@font-face {
  font-family: 'Inter';
  src: url("../../../public/assets/fonts/inter/Inter-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("../../../public/assets/fonts/inter/Inter-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../../../public/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../../../public/assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
  font-weight: 700;
}
